h1{
    color: #8eb7d5;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
p{
    color: #3d7095;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: #d8e1e9;
}
header{
    background-color: #accee6;
}